div{
   padding: 32px 64px 18px;
    box-sizing: border-box;
    border: 1cm black  solid;
    margin: 0 auto;
    border-radius: 50px;
}
*{
    padding: 0px;
    margin: 0px ;
    box-sizing: border-box;
}